index	

30	Farming

31	Transformation

32	Emballage

33	Transport

34	Supermarket and distribution

35	Consomation

In [66]:
#check duplicate
import json
from collections import Counter
def extract_names(file_path):
    with open(file_path, "r", encoding="utf-8") as file:
        data = json.load(file)
        # Access 'data' key, which contains a list of dictionaries
        return [item['name'] for item in data['data']]  # Extract 'name' from each item in 'data'

# List of JSON file paths
json_files = [r"D:\Documents\GitHub\Final_Project\food.json", r"D:\Documents\GitHub\Final_Project\boisson.json", r"D:\Documents\GitHub\Final_Project\veggies.json"]

# Initialize an empty list to hold all names
all_names = []

# Extract names from each file and add to all_names
for file in json_files:
    all_names.extend(extract_names(file))

# Count occurrences of each name using Counter
name_counts = Counter(all_names)

unique_names = list(set(all_names))

print("Unique names:", unique_names)

# Duplicates value
duplicates = [name for name, count in name_counts.items() if count > 1]

print("Duplicate names:", duplicates)

Unique names: ['Eau en bouteille', 'Banane', 'Pain au chocolat ou chocolatine', 'Fêta (brebis)', 'Fraise', 'Carambole', 'Poireau', 'Repas avec du poisson blanc', 'Croissant au beurre', 'Canard', 'Blé', 'Pomme', 'Bonbons gélifiés', 'Pain de mie', "Saumon ou truite d'élevage (cru)", 'Figue', 'Baguette tradition', 'Pâtes (sèches)', 'Repas végétalien', 'Fromage à pâte molle', 'Blette', 'Datte', 'Crevettes', 'Navet', 'Lentilles (blondes, vertes, corail)', 'Nectarine', 'Noix', 'Thon (cru)', 'Lait de vache', 'Riz', 'Pâte à tartiner à la noisette', 'Cresson', 'Aubergine', 'Huitres', 'Ananas', 'Kebab', 'Boeuf', 'Brownie au chocolat', 'Champignon (morille crue)', 'Salsifis', 'Chou', 'Melon', 'Tofu nature', 'Cabillaud (cru)', 'Pêche', 'Courgette', 'Fromage à pâte dure', 'Pamplemousse', 'Potiron', 'Café', 'Reine claude', 'Myrtille', 'Moules', 'Groseille', 'Rocher au chocolat', 'Madeleine', 'Mandarine', 'Mangue (importée par avion)', 'Fruit de la passion', 'Céleri', 'Cheeseburger', 'Vin', 'Repas avec du boeuf', 'Clémentine', 'Noix de coco', 'Betterave', 'Repas végétarien', 'Mangue (importée par bateau)', 'Porc', 'Frites (friteuse)', 'Rhubarbe', 'Citron', 'Épinard', 'Artichaut', 'Lapin', 'Soda', 'Kiwi', 'Mozarella', 'Chou de Bruxelles', 'Pois chiches', 'Cassis', 'Laitue', 'Courge', 'Poulet', 'Pizza quatre fromages', 'Kaki', 'Pain aux raisins', 'Eau du robinet', 'Maïs', 'Thé', 'Concombre', 'Repas avec du poulet', 'Beurre', 'Avocat', 'Échalote', 'Repas avec du poisson gras', 'Oignon', 'Poivron', 'Fromage bleu', 'Topinambour', 'Prune', 'Fromage blanc 0%', 'Sushis ou makis', 'Boulgour', 'Ail', 'Chou-fleur', 'Petit pois', 'Orange', 'Endive', 'Cerise', 'Abricot', 'Bière', 'Veau', 'Poire', 'Oeufs', 'Burger végétarien', 'Sardines', 'Pomme de terre nouvelle', 'Boisson au soja', 'Noisette', 'Carotte', 'Burger au poulet', 'Yaourt nature ou yaourt à la grecque', 'Mâche', 'Lieu jaune ou colin (cru)', 'Tomate', 'Haricot vert (cru)', 'Pastèque', 'Matière grasse végétale', 'Châtaigne', 'Dorade royale', 'Raisin', 'Cookie au pépites de chocolat', 'Mûre', 'Brocoli', 'Coing', 'Panais', 'Haricots rouges', 'Chausson aux pommes', 'Fenouil', 'Radis', 'Framboise', 'Grenade', 'Asperge']
Duplicate names: ['Lait de vache', 'Maïs', 'Pomme', 'Carotte', 'Courgette', 'Tomate', 'Potiron', 'Laitue', 'Banane', 'Mangue (importée par avion)', 'Poireau', 'Avocat']

In [70]:
len(unique_names)

144

In [ ]:
import pandas as pd
df1 =pd.read_json(r"D:\Documents\GitHub\Final_Project\food.json")
df2 =pd.read_json(r"D:\Documents\GitHub\Final_Project\boisson_unique.json")
df3 =pd.read_json(r"D:\Documents\GitHub\Final_Project\veggies_unique.json")

In [54]:
print(df3)

                                                 data
0   {'name': 'Maïs', 'slug': 'mais', 'ecv': 0.5687...
1   {'name': 'Pomme', 'slug': 'pomme', 'ecv': 0.40...
2   {'name': 'Carotte', 'slug': 'carotte', 'ecv': ...
3   {'name': 'Courgette', 'slug': 'courgette', 'ec...
4   {'name': 'Tomate', 'slug': 'tomate', 'ecv': 0....
..                                                ...
82  {'name': 'Fruit de la passion', 'slug': 'fruit...
83  {'name': 'Grenade', 'slug': 'grenade', 'ecv': ...
84  {'name': 'Kaki', 'slug': 'kaki', 'ecv': 0.9495...
85  {'name': 'Noix de coco', 'slug': 'noixdecoco',...
86  {'name': 'Pastèque', 'slug': 'pasteque', 'ecv'...

[87 rows x 1 columns]

In [67]:
#merge 3 json in one
# List of JSON file paths
json_files = [r"D:\Documents\GitHub\Final_Project\food.json", r"D:\Documents\GitHub\Final_Project\boisson_unique.json", r"D:\Documents\GitHub\Final_Project\veggies_unique.json"]

# Initialize an empty list to store merged data
merged_data = []

# Read each file and extract 'data' key contents
for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        data = json.load(f)
        merged_data.extend(data['data'])  # Append the list inside 'data' key

# Save the merged data into a new JSON file
merged_json = {"data": merged_data}  # Wrap in 'data' key

with open("merged.json", "w", encoding="utf-8") as f:
    json.dump(merged_json, f, indent=4, ensure_ascii=False)  # Pretty print with UTF-8 support

print("Merged JSON saved to merged.json")

Merged JSON saved to merged.json

In [ ]:
df_merged =pd.read_json(r"D:\Documents\GitHub\Final_Project\merged.json")
print(df_merged)

                                                  data
0    {'name': 'Boeuf', 'slug': 'boeuf', 'ecv': 28.0...
1    {'name': 'Veau', 'slug': 'veau', 'ecv': 22.504...
2    {'name': 'Porc', 'slug': 'porc', 'ecv': 6.6713...
3    {'name': 'Canard', 'slug': 'canard', 'ecv': 8....
4    {'name': 'Lapin', 'slug': 'lapin', 'ecv': 5.78...
..                                                 ...
139  {'name': 'Fruit de la passion', 'slug': 'fruit...
140  {'name': 'Grenade', 'slug': 'grenade', 'ecv': ...
141  {'name': 'Kaki', 'slug': 'kaki', 'ecv': 0.9495...
142  {'name': 'Noix de coco', 'slug': 'noixdecoco',...
143  {'name': 'Pastèque', 'slug': 'pasteque', 'ecv'...

[144 rows x 1 columns]

In [88]:
#Transform JSON to CSV
import json
import csv

# Load JSON file
with open(r"D:\Documents\GitHub\Final_Project\merged.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Extract list of dictionaries from "data" key
items = data["data"]

csv_file = "reference.csv"

headers = ["name", "slug", "ecv", "footprint", "footprintDetail_id", "footprintDetail_value"]

with open(csv_file, "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(headers)  # Write column names

    # Iterate over each item in the JSON
    for item in items:
        # If 'footprintDetail' exists and is a list, create multiple rows
        if "footprintDetail" in item and isinstance(item["footprintDetail"], list):
            for detail in item["footprintDetail"]:
                writer.writerow([
                    item["name"],
                    item["slug"],
                    item["ecv"],
                    item["footprint"],
                    detail["id"],
                    detail["value"]
                ])
        else:
            # Write a single row if 'footprintDetail' is missing or empty
            writer.writerow([
                item["name"],
                item["slug"],
                item["ecv"],
                item["footprint"],
                None,
                None
            ])

print(f"CSV file '{csv_file}' created successfully!")

CSV file 'reference.csv' created successfully!

In [89]:
df = pd.read_csv(r"D:\Documents\GitHub\Final_Project\reference.csv")
df.columns = df.columns.str.lower()
df.drop(columns=["ecv"], inplace=True)
df

,name,slug,footprint,footprintdetail_id,footprintdetail_value
0,Boeuf,boeuf,28.00917,30.0,27.316667
1,Boeuf,boeuf,28.00917,31.0,0.088917
2,Boeuf,boeuf,28.00917,32.0,0.217000
3,Boeuf,boeuf,28.00917,33.0,0.308333
4,Boeuf,boeuf,28.00917,34.0,0.043967
...,...,...,...,...,...
775,Huile de tournesol,huiledetournesol,3.19360,31.0,0.210000
776,Huile de tournesol,huiledetournesol,3.19360,32.0,0.784000
777,Huile de tournesol,huiledetournesol,3.19360,33.0,0.184000
778,Huile de tournesol,huiledetournesol,3.19360,34.0,0.039300
779,Huile de tournesol,huiledetournesol,3.19360,35.0,0.000000

In [90]:
df_sorted = df.sort_values(by="footprint", ascending=False)
df_sorted

,name,slug,footprint,footprintdetail_id,footprintdetail_value
0,Boeuf,boeuf,28.009170,30.0,27.316667
4,Boeuf,boeuf,28.009170,34.0,0.043967
5,Boeuf,boeuf,28.009170,35.0,0.034287
1,Boeuf,boeuf,28.009170,31.0,0.088917
3,Boeuf,boeuf,28.009170,33.0,0.308333
...,...,...,...,...,...
340,Thé,the,0.043587,35.0,0.011500
339,Thé,the,0.043587,34.0,0.000167
338,Thé,the,0.043587,33.0,0.003130
336,Thé,the,0.043587,30.0,0.022400
302,Eau du robinet,eaudurobinet,0.000132,NaN,NaN

In [93]:
unique_sorted = df_sorted.drop_duplicates(subset="name")["name"].tolist()
unique_sorted

['Boeuf',
 'Veau',
 'Crevettes',
 'Cheeseburger',
 'Fromage',
 'Kebab',
 'Lieu jaune ou colin (cru)',
 'Cabillaud (cru)',
 'Mangue (importée par avion)',
 'Dorade royale',
 'Chocolat',
 'Rocher au chocolat',
 'Pâte à tartiner à la noisette',
 'Brownie au chocolat',
 'Canard',
 'Beurre',
 'Huile de colza',
 'Repas avec du boeuf',
 'Porc',
 'Fêta (brebis)',
 'Fromage à pâte dure',
 'Cookie au pépites de chocolat',
 'Champignon (morille crue)',
 'Fromage bleu',
 'Lapin',
 'Pain au chocolat ou chocolatine',
 "Saumon ou truite d'élevage (cru)",
 "Huile d'olive",
 'Huitres',
 'Moules',
 'Fromage à pâte molle',
 'Thon (cru)',
 'Noisette',
 'Mozarella',
 'Poulet',
 'Burger au poulet',
 'Noix',
 'Huile de palme',
 'Pizza quatre fromages',
 'Huile de tournesol',
 'Croissant au beurre',
 'Datte',
 'Huile de soja',
 'Burger végétarien',
 'Sushis ou makis',
 'Matière grasse végétale',
 'Pain aux raisins',
 'Artichaut',
 'Noix de coco',
 'Sardines',
 'Madeleine',
 "Farine d'avoine",
 'Chausson aux pommes',
 'Riz',
 'Repas avec du poisson blanc',
 'Pâtes (sèches)',
 'Châtaigne',
 'Cassis',
 'Yaourt nature ou yaourt à la grecque',
 'Groseille',
 'Oeufs',
 'Fromage blanc 0%',
 'Cerise',
 'Asperge',
 'Repas avec du poulet',
 'Pain de mie',
 'Avocat',
 'Framboise',
 'Sucre de Betterave',
 'Bonbons gélifiés',
 'Frites (friteuse)',
 'Abricot',
 'Ananas',
 'Bière',
 'Clémentine',
 'Vin',
 'Mûre',
 'Blé',
 'Lait de vache',
 'Repas avec du poisson gras',
 'Orge',
 'Reine claude',
 'Prune',
 'Fenouil',
 'Tofu nature',
 'Kiwi',
 'Melon',
 'Brocoli',
 'Boulgour',
 'Kaki',
 'Fruit de la passion',
 'Pamplemousse',
 'Myrtille',
 'Banane',
 'Pois chiches',
 'Laitue',
 'Cresson',
 'Mâche',
 'Endive',
 'Haricots rouges',
 'Chou',
 'Baguette tradition',
 'Citron',
 'Mangue (importée par bateau)',
 'Chou-fleur',
 'Céleri',
 'Poivron',
 'Pomme de terre nouvelle',
 'Petit pois',
 'Rhubarbe',
 'Pastèque',
 'Orange',
 'Potiron',
 'Courge',
 'Café',
 'Tomate',
 'Nectarine',
 'Figue',
 'Poireau',
 'Pêche',
 'Lentilles (blondes, vertes, corail)',
 'Blette',
 'Maïs',
 'Chou de Bruxelles',
 'Coing',
 'Carambole',
 'Concombre',
 'Fraise',
 'Repas végétarien',
 'Raisin',
 'Grenade',
 'Courgette',
 'Salsifis',
 'Panais',
 'Soda',
 'Topinambour',
 'Aubergine',
 'Mandarine',
 'Haricot vert (cru)',
 'Boisson au soja',
 'Épinard',
 'Oignon',
 'Pomme',
 'Betterave',
 'Navet',
 'Carotte',
 'Échalote',
 'Repas végétalien',
 'Poire',
 'Radis',
 'Ail',
 'Eau en bouteille',
 'Thé',
 'Eau du robinet']